/*desktop layout*/
body {font-family: 'Oswald', sans-serif;}
h1 {font-family: 'Spirax', cursive;}
h2 {font-family: 'Spirax', cursive;}
p {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
    font-size: 1 em;
    }
section{
    width: 40%;
    padding: 3%;
    margin-top: -4%;
    display: inline-table;}
img#photobanner {
    width: 100%;
    margin: 0;}
img#profilephoto {
    width: 40%; 
    padding: 2%;
    padding-top: 5%;
    float:left;}
    /* mobile layout */