body {
    margin: 0;
    color: #ffffff;
    background-color: #006d8a;
    font-size: 100%;
    text-align: left;}
h1 {
    position:absolute;
    left:25%;
    right:25%;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    font-size: 5em;
    text-shadow: 6px 2px #fe3f60;
    letter-spacing: -7px;}

h2 {position:absolute;
    top: 15%;
    left:25%;
    right:25%;
    font-family: 'Leckerli One', cursive;   text-align: center;
    font-size: 2em;
    text-shadow: 1px 2px #fe3f60;
    letter-spacing: 4.5px;}

h3 {
    width: 25%; 
    padding: 3%;
    border: 2px solid #fe3f60;
    float:left;
    font-family: 'Leckerli One', cursive;
    font-size: 1.5em;
    text-align: center;
    line-height: 3;
    letter-spacing: 3px;
    }

p {
    padding-left: 25%;
    padding-right: 25%;
    line-height: 4;
    font-family: 'Arapey', serif;
    font-size: 1.2em;
    line-height: 3;}

img#headergif {
width: 100%;
    width: 100%;
    margin:0;
    padding-bottom: 5%;}

img#profile {
    width: 30%; 
    padding: 3%;
    padding-top: 4%;
    
    float:left;}

iframe#youtube {
    width: 100%;
    margin: 0;}

img#spartan {
    width:30%;
    padding-top: 8%;
    padding-left: 3%;
    float: left;}

img#halfmarathon { 
    width: 30%;
    padding-left: 2%;
float:center;}

img#santa {
    width: 30%;
    padding-top: 8%;
    padding-right: 3%;
    float:right;}
