h1 {font-family: 'Leckerli One', cursive;}

h3 {font-family: 'Leckerli One', cursive;
padding: 10%;}

body {
    width:100%;
    background-color: #006d8a;
    color: #ffffff;
    background-color: #006d8a;
    color: #ffffff;
    margin: 0;
    color: #ffffff;
    background-color: #006d8a;
    font-size: 100%;
    text-align: left;}

h1 {position:absolute;
    left:25%;
    right:25%;
    font-family: 'Leckerli One', cursive;
    text-align: center;
    font-size: 4.5em;
    letter-spacing: 2px;
}

h3 {width: 25%; 
    padding: 5%;
    padding-right: 8%;
    float:left;
    font-family: 'Leckerli One', cursive;
    font-size: 1.5em;
    text-align: center;
    line-height: 3;
    letter-spacing: 2.5px;
}

img#profile {width: 30%; float:left; padding: 3%}

p { font-size: 1em;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 4;
<<<<<<< HEAD
>>>>>>> origin/master
=======
>>>>>>> origin/master
    font-family: 'Arapey', serif;
    font-size: 1.2em;
    line-height: 3;}

img#headergif {
width: 100%;
    margin:0;
    padding-bottom: 5%;    
    
}

img#profile {
    width: 30%; 
    padding: 3%;
    padding-top: 4%;
    float:left; }

iframe#youtube {
    width: 100%;
    margin: 0;}

