/*desktop layout*/
h1 {
    position:absolute;
    top: 30%;
    left:10%;
    right:10%;
    z-index: 99;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 6em;
    color: white;
    text-shadow: 1px 3px 1px black;
    letter-spacing: -5px;
}

h2 {
    top: 120%;
    left:5%;
    right:10%;
    z-index: 99;
    font-family: 'Satisfy', cursive;
    text-align: left;
    font-size: 4em;
    color: black;
    letter-spacing: -1px}
h3 {
    position:absolute;
    top: 50%;
    left:5%;
    right:10%;
    z-index: 99;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 2em;
    color: powderblue;
    text-shadow: 1px 3px 1px black;
    letter-spacing: 1px}
h4 {font-family: 'Satisfy', cursive;}
h5{font-family: 'PT Serif', serif;
    text-align: center}
p {
    position:about;
    font-family: 'PT Serif', serif;
    font-size: 1em;
    color: black;
    letter-spacing: 1.3px
}
/*optionalsection{
width: 100%;
margin: 0;
display: inline-table;}*/
img#barrel {
    position:inherit;
    width: 100%;
    margin: 0;
    z-index: -1;}
img#glass {
    position:inherit;
    width: 100%;
    margin: 0;
    z-index: -1;}

img#names {
    width: 35%; 
    padding: 2%;
    padding-top: 1%;}

/* mobile layout */

/* navigation */

nav{
    z-index: 100;
    position: fixed;
    width:100%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: right;
}

nav ul {
    margin: 0;
    padding: 0;
    /*optional list-style-type: none;
    */
}

nav li {
    padding-left: 2%;
    padding-right: 3%;
    display: inline;
}
