/*desktop layout*/
h1 {
    position:absolute;
    top: 30%;
    left:10%;
    right:10%;
    z-index: 99;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 6em;
    color: white;
    text-shadow: 1px 3px 1px black;
    letter-spacing: -5px;
}

h2 {font-family: 'Raleway', sans-serif;}
h3 {font-family: 'Satisfy', cursive;}
h4 {font-family: 'Satisfy', cursive;}
h5{font-family: 'PT Serif', serif;}
p {font-family: 'PT Serif', serif;
    /*optional
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
    font-size: 1 em;
    */
}
/*optionalsection{
width: 100%;
margin: 0;
display: inline-table;}*/
img {
    position:inherit;
    width: 100%;
    margin: 0;
    z-index: -1;
    
}
/*optional img#grapes {
z-index: -1;
width: 100%;
margin: 0;}
img#wine {
z-index: -1;
width: 100%;
margin: 0;}
img#people {
z-index: -1;
width: 100%;
margin: 0;} */


/* mobile layout */

/* navigation */

nav{
    z-index: 100;
    position: fixed;
    width:100%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: right;
}

nav ul {
    margin: 0;
    padding: 0;
    /*optional list-style-type: none;
    */
}

nav li {
    padding-left: 2%;
    padding-right: 3%;
    display: inline;
}
